[class*="col-"] {
    float: left;
    padding: 15px;
}
* {
    box-sizing: border-box;
}

@media only screen and (min-width: 400px) {
    .col-s-12 {width: 50%;}
}
@media only screen and (min-width: 600px) {
    .col-y-4 {width: 33.33%;}
}
@media only screen and (min-width: 800px) {
    .col-t-3 {width: 25%;}
}
@media only screen and (min-width: 1000px) {
    .col-r-2 {width: 16.66%;}
}